@font-face {
  font-family: 'iconfont';
  /* project id 1703488 */
  src: url('//at.alicdn.com/t/font_1703488_20fuk4klqcx.eot');
  src: url('//at.alicdn.com/t/font_1703488_20fuk4klqcx.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1703488_20fuk4klqcx.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1703488_20fuk4klqcx.woff') format('woff'),
    url('//at.alicdn.com/t/font_1703488_20fuk4klqcx.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1703488_20fuk4klqcx.svg#iconfont') format('svg');
}

.icon-gift:before {
  content: "\e65a";
}
